In [1]:
###------NYC TOTAL POPULATION BY BOROUGH : DATA CLEANING-----###

In [2]:
#Import Packages
import pandas as pd
from data_utility import getCurrentDirectory, readCsvFile

In [3]:
#Get Current Working Directory
listDir = getCurrentDirectory()
listDir

['.git',
 '.gitignore',
 'Apriori Association',
 'Data',
 'LICENSE',
 'Python Notebook',
 'README.md']

In [4]:
## Read CSV
total_pop = readCsvFile('../Data/Population_by_Borough_NYC.csv')
total_pop.head()

,Age Group,Borough,1950,1950 - Boro share of NYC total,1960,1960 - Boro share of NYC total,1970,1970 - Boro share of NYC total,1980,1980 - Boro share of NYC total,...,2000,2000 - Boro share of NYC total,2010,2010 - Boro share of NYC total,2020,2020 - Boro share of NYC total,2030,2030 - Boro share of NYC total,2040,2040 - Boro share of NYC total
0,Total Population,NYC Total,7891957,100%,7781984,100%,7894862,100%,7071639,100%,...,8008278,100%,8242624,100%,8550971,100%,8821027,100%,9025145,100%
1,Total Population,Bronx,1451277,18.39%,1424815,18.31%,1471701,18.64%,1168972,16.53%,...,1332650,16.64%,1385108,16.8%,1446788,16.92%,1518998,17.22%,1579245,17.5%
2,Total Population,Brooklyn,2738175,34.7%,2627319,33.76%,2602012,32.96%,2230936,31.55%,...,2465326,30.78%,2552911,30.97%,2648452,30.97%,2754009,31.22%,2840525,31.47%
3,Total Population,Manhattan,1960101,24.84%,1698281,21.82%,1539233,19.5%,1428285,20.2%,...,1537195,19.2%,1585873,19.24%,1638281,19.16%,1676720,19.01%,1691617,18.74%
4,Total Population,Queens,1550849,19.65%,1809578,23.25%,1986473,25.16%,1891325,26.75%,...,2229379,27.84%,2250002,27.3%,2330295,27.25%,2373551,26.91%,2412649,26.73%

In [5]:
#Drop unncessary columns of the population dataset
dropColPop = total_pop.copy()
dropColPop.drop(['Age Group','1950 - Boro share of NYC total','1960 - Boro share of NYC total',
                 '1970 - Boro share of NYC total','1980 - Boro share of NYC total',
                 '1990 - Boro share of NYC total','2000 - Boro share of NYC total',
                 '2010 - Boro share of NYC total','2020 - Boro share of NYC total',
                 '2030 - Boro share of NYC total','2040 - Boro share of NYC total'], axis=1, inplace=True)
dropColPop

,Borough,1950,1960,1970,1980,1990,2000,2010,2020,2030,2040
0,NYC Total,7891957,7781984,7894862,7071639,7322564,8008278,8242624,8550971,8821027,9025145
1,Bronx,1451277,1424815,1471701,1168972,1203789,1332650,1385108,1446788,1518998,1579245
2,Brooklyn,2738175,2627319,2602012,2230936,2300664,2465326,2552911,2648452,2754009,2840525
3,Manhattan,1960101,1698281,1539233,1428285,1487536,1537195,1585873,1638281,1676720,1691617
4,Queens,1550849,1809578,1986473,1891325,1951598,2229379,2250002,2330295,2373551,2412649
5,Staten Island,191555,221991,295443,352121,378977,443728,468730,487155,497749,501109

In [6]:
def getMeanPopulation(borough, index):
    boroList = dropColPop['Borough'][1:6]
    meanPop = 0.0
    
    for boro in boroList:
        if boro.strip() == borough:
            numA = dropColPop['2010'][index]
            numB = dropColPop['2020'][index]
            meanPop = (numA + numB)/2
    return meanPop

In [7]:
bronxPop = getMeanPopulation('Bronx', 1)
brookylnPop = getMeanPopulation('Brooklyn', 2)
manhattanPop = getMeanPopulation('Manhattan', 3)
queensPop = getMeanPopulation('Queens', 4)
statIslandPop = getMeanPopulation('Staten Island', 5)

In [8]:
print(bronxPop)
print(brookylnPop)
print(manhattanPop)
print(queensPop)
print(statIslandPop)

1415948.0
2600681.5
1612077.0
2290148.5
477942.5